div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    button {
        background-color: transparent;
        border: 0px;
    }
}