@use './shared/colors';
// ONE
div.content {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    // TWO
    div.imageSwitcher {
        flex: 8;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        button {
            background-color: transparent;
            border: 0px;
            width: 20%;
            img {
                transition: all 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            }
        }
        button:hover {
            cursor: pointer;
            img {
                width: 30%;
            }
        }
        img {
            width: 20%;
        }
    }
    // THREE
    ul {
        flex: 1;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        li {
            font-family: 'Syne Mono';
            color: colors.$gray;
            list-style: none;
            position: relative;
            transition: all 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            font-size: 30px;
            bottom: 0px;
        }
        li:hover {
            cursor: pointer;
            bottom: 20%;
            color: colors.$purple;
        }
    }
}